{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="form-wrap">

  <div class="card shadow-sm form-card">

    <div class="card-header bg-white">
      <h1 class="h4 mb-0">
        {% if object %}
          Update "{{ object.name }}"
        {% else %}
          Create new type of dish
        {% endif %}
      </h1>
    </div>

    <div class="card-body">

      <form method="post" novalidate>
        {% csrf_token %}

        {{ form|crispy }}

        <div class="form-actions mt-4 d-flex justify-content-end">

          <a href="{% url 'kitchen:dish_type-list' %}"
             class="btn btn-outline-secondary mr-2">
            Cancel
          </a>

          <button type="submit" class="btn btn-primary">
            {% if object %}Save{% else %}Create{% endif %}
          </button>

        </div>

      </form>

    </div>
  </div>

</div>

{% endblock %}
